.working_container {
    margin-top: 5rem;
}


.working_images {
    display: flex;
    margin: 20px auto;
    width: 71vw;
    height: 400px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;

}

.working_img {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 20px;
    align-items: center;
}



@media screen and (max-width: 361px) {
    .working_images {
        width: 580px;
    }
}