.working_container {
    /* margin: 5rem auto 0 auto; */

}
.working__Heading{
    margin: 0 auto;
    text-align: center;
}


.working_images {
    display: flex;
    margin: 5rem auto;
    width: 90vw;
    max-width: 65rem;
   

}


.working_img{
    display: grid;
    grid-template-rows: repeat(3,minmax(5rem,7.5rem)) 2rem;
    align-items: center;
    justify-items: center;
    margin: 0 0.75rem;


}

.working_container .working_images .working_img a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 15px;
    background: #00011f;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}
@media only screen and (max-width:640px){
.working_images {
display: grid;
}
    .working_img{
    grid-template-rows: repeat(3,1fr) ;
    grid-template-columns: repeat(2,1fr);
    height: auto;
    font-size: 0.75rem;
    grid-column-gap: 1rem;
    }
    .working_img:nth-child(even) > img{
        grid-column: 2 / -1;
    }
    .working_img img{
        grid-row: 1 / -1;
    }
}