.benifits_images {
    display: flex;
    margin: 20px auto;
    width: 95vw;
    height: auto;
    overflow: hidden;
    justify-content: space-between;
    flex-wrap: wrap;
}

.benifits_img {
    width: 20%;
    border-radius: 25px;
    margin: 0 20px;

}
@media only screen and (max-width:850px){
    .benifits_img{
        width:42.5%;
        margin:1rem ;
    }
}
@media only screen and (max-width:450px){
    .benifits_img{
        width:90%;
        margin:1rem auto;
    }
}



