

.faq_section {
    padding: 80px 24px;
    color: #2e054e;
    /* font-family: futura-book; */
    border-bottom: 1px solid #e6e6e6;
    width: 95%;
  }

 .FAQ_main_container {
    margin: 20px;
  } 