.lifeStyle_container {
    justify-content: space-around;

}

.lifeStyle_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lifeStyle_image {
    width: 30%;
    margin: 10px 20px;
    border-radius: 20px;
}