.feature_container {
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #f7f4f8;
    overflow: hidden;
    align-items: flex-start;
}
.lifeStyle_filters {
    width: 300px;
    background-color: white;
    padding-left: 25px;
    margin: 30px 40px;
}

.filter_option_container {
    margin-top: 15px;
}

.car_model_search {
    width: 300px;
}

.featured_filtered_cars {
    justify-content: flex-start;
    align-items: flex-start;
}

ul {
    list-style-type: none;
    display: flex;
  }
li {
    padding-left: 20px;
}
.description {
    justify-content: flex-start;
    align-items: center;
}