.feature_container {
  justify-content: flex-start;
  border-radius: 10px;
  background-color: #f7f4f8;
  overflow: hidden;
  align-items: flex-start;
}
.lifeStyle_filters {
  width: 300px;
  background-color: white;
  padding-left: 25px;
  margin: 30px 40px;
}

.budget_slider {
  width: 80%;
  margin: 10px 20px;
  position: relative;
}

.budget_range {
  justify-content: space-between;
}
.filter_option_container {
  margin-top: 15px;
}

.car_model_search {
  width: 300px;
}

.featured_filtered_cars {
  justify-content: flex-start;
  align-items: flex-start;
}

ul {
  list-style-type: none;
  display: flex;
}
li {
  padding-left: 20px;
}
.description {
  justify-content: flex-start;
  align-items: center;
}

.pageStyle {
  margin: 0 auto;
  /* min-width: 978px; */
  /* max-width: 1248px; */
}

.pageStyle .carsList {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 15px;
  display: flex;
  padding: 20px;
  margin: 0;
  color: #2e054e;
  white-space: nowrap;
}

.pageStyle .carsList svg {
  transform: rotate(-90deg);
}
.pageStyle .carDetails {
  /* width: 25em; */
  position: sticky;
  top: 0;
  margin: 0 20px;
}
.pageStyle .carDetails .rightSection {
  margin-bottom: 16px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.pageStyle .carDetails .rightSection h1 {
  font-size: 25px;
  line-height: 45px;
  font-family: futura-demi;
  display: block;
  width: calc(100% - 2em);
  margin: 10px 0 0 10px;
}
.pageStyle .carDetails .rightSection .shortList {
  position: absolute;
  right: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.pageStyle .carDetails .rightSection .shortList span {
  color: #888;
  font-size: 11px;
  line-height: 13px;
  position: relative;
  left: 10%;
  bottom: 2px;
  font-family: futura-book;
}
.pageStyle .carDetails .rightSection .carFeature {
  font-size: 23px;
  line-height: 30px;
  margin-top: 4px;
  white-space: nowrap;
  display: flex;
}
.pageStyle .carDetails .rightSection .carFeature span {
  font-family: futura-book;
  display: inline-block;
  align-items: center;
  margin: 10px 0 0 10px;
}
.pageStyle .carDetails .rightSection .testDrive {
  margin: 15px 0 0 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 25px;
  font-family: futura-book;
  color: #888;
}
.pageStyle .carDetails .rightSection .testDrive span {
  color: #000;
  font-weight: bold;
}
.pageStyle .carDetails .rightSection .carLocation {
  display: flex;
  align-items: center;
  margin: 8px 0 0 10px;
  font-family: futura-book;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  color: #888;
  padding: 8px 0 16px;
  border-bottom: 1px solid #f2f3f5;
}
.pageStyle .carDetails .rightSection .carLocation .arrowIcon {
  transform: rotate(-90deg);
  margin: 0 0 1px 6px;
  cursor: pointer;
}
.pageStyle .carDetails .rightSection .carPriceMargin {
  align-items: baseline;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 4px;
  font-family: futura-book;
  font-size: 22px;
  line-height: 24px;
  display: flex;
}
.pageStyle .carDetails .rightSection .carPriceMargin .carPrice {
  align-items: baseline;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  margin: 8px 0 0 10px;
}
.pageStyle .carDetails .rightSection .carPriceMargin .carPrice a {
  color: #4169e1;
  font-size: 14px;
  line-height: 18px;
  margin-left: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}
.pageStyle .carDetails .rightSection .carPriceMargin .carEMI {
  display: flex;
  align-items: center;
  font-family: futura-book;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}
.pageStyle .carDetails .rightSection .fixedPrice {
  font-family: futura-book;
  font-size: 14px;
  line-height: 18px;
  color: #888;
  margin: 8px 0 0 10px;
}
.pageStyle .carDetails .rightSection .checkPrice {
  font-family: futura-demi;
  color: #01b088;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  padding: 0 8px 16px;
  margin: 8px 0 0 0px;
  border-bottom: 4px solid #e8e8e8;
  display: block;
}
.pageStyle .carDetails .rightSection .checkPrice svg {
  transform: rotate(-90degree);
}
.pageStyle .carDetails .rightSection .availableOffer {
  padding: 16px 16px 0;
  border-bottom: none;
  margin: 0 -16px;
}
.pageStyle .carDetails .rightSection .availableOffer h1 {
  font-size: 16px;
  line-height: 20px;
  color: #2e054e;
  margin: 0;
}
.pageStyle .carDetails .rightSection .availableOffer .offerList {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 16px;
}
.pageStyle .carDetails .rightSection .availableOffer .offerList .offerItem {
  display: grid;
  grid-template-columns: 24px auto 28px;
  cursor: pointer;
}
.pageStyle
  .carDetails
  .rightSection
  .availableOffer
  .offerList
  .offerItem
  .offerIcon {
  width: 20px;
  height: 20px;
  padding-top: 2px;
}
.pageStyle
  .carDetails
  .rightSection
  .availableOffer
  .offerList
  .offerItem
  .offerText {
  font-family: futura-book;
  font-size: 14px;
  line-height: 18px;
  color: #555;
}
.pageStyle
  .carDetails
  .rightSection
  .availableOffer
  .offerList
  .offerItem
  .offerText
  span {
  text-transform: capitalize;
  color: #2e054e;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.pageStyle
  .carDetails
  .rightSection
  .availableOffer
  .offerList
  .offerItem
  .offerArrow {
  align-self: center;
  margin-left: 16px;
  justify-self: flex-end;
  transform: rotate(-90degree);
}

.empty_car_list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
}
.car_list_container {
  flex-wrap: wrap;
  min-height: 100vh;
}

.car_km_ifo {
  justify-content: space-between;
}

.car_list_buyCar {
  width: 30%;
  margin: 1rem 0.5rem;
}

.filter_car_img {
  width: 100%;
}

.car_name_info {
  padding: 0 10px;
}
.car_info {
  padding: 0 10px;
}
.car_details {
  margin-top: 10px;
}
.car_info_amount {
  margin: 10px;
}
.make__model {
  width: 90%;
  margin-left: -2rem;
  height: 400px;
  overflow: scroll;
}
.buycar__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.car_details_container {
  position: relative;
  
}

.overlay {
  background-color: rgba(0,0,0,0.5);
}

.test_drive_validate_container {
  position: absolute;
  height: 250px;
  background-color: white;
  top: 10%;
  width: 450px;
  left: 30%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;  
}

.test_drive_mobileNo_container {
  position: relative;
  left: 20%;
  top: 20%;
  width: 60%;
}

.test_drive_btn_submit {
  position: absolute;
  left: 35%;
  top: 55%;
}

.verify_btn {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
}

.close_Test_Drive_container {
  position: absolute;
  right: 5px;
}

.car_details_MobileView {
  display: none;
}


@media screen and (max-width: 1280px) and (min-width: 769px) {
  .car_list_buyCar {
    width: 45%;
  }
  .empty_car_list {
    left: 62%;
  }
  .row_container {
    justify-content: center;
  }
}


@media screen and (max-width: 560px) {
  .test_drive_validate_container {
    left: 2%;
  }
  .test_drive_validate_container  {
    width: 340px;
    margin: 0;
  }

  .test_drive_btn_submit {
    top: 60%;
  }
}

@media screen and (min-width: 420px) and (max-width: 768px) {
  .transmission_details {
    width: 100%;
    margin: 0 45px;
  }
  .test_drive_validate_container {
    left: 25%;
  }
}

@media screen and (max-width: 768px) {
  .car_list_buyCar {
    width: 100%;
  }
  .featured_filtered_cars {
    width: 100%;
  }
  .empty_car_list {
    left: 0%;
  }
  .row_container {
    /* justify-content: center; */
  }
  .buycar__container {
    grid-template-columns: auto;
    /* grid-template-rows: 1fr 1fr; */
    align-items: center;
  }

  .lifeStyle_filters {
    width: 100%;
    max-width: 25rem;
    margin: 2rem 1rem;
  }
  .car_model_search {
    width: 40vw;
  }

  .empty_car_list {
    transform: translateX(35%);
  }

  .filter_button {
    width: auto;
    color: #fff;
    line-height: 1.5rem;
    background-color: #FFDF00;
    border: 2px solid #FFDF00;
    font-size: 1rem !important;
    font-family: futura-demi;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    opacity: 1;
    margin-left: 5px;
    text-align: center;
    padding: 7px;
    margin-right: 0px !important;
    text-decoration: none;
  }
  .close_filter_button {
    width: 5rem;
    color: #fff;
    line-height: 1.5rem;
    background-color: #FFDF00;
    border: 2px solid #FFDF00;
    font-size: 1rem;
    font-family: futura-demi;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    opacity: 1;
    margin: 20px 0px;
  }

  .hide {
    display: none;
  }
  .feature_container {
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #f7f4f8;
    overflow: hidden;
    align-items: flex-start;
  }

  .search_text input {
    font-size: 3vw;
  }
  .lifeStyle_filters {
    max-width: 100%;
  }

  .car_details_MobileView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .car_details_heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    font-size: 25px;
    color: #0d00f5;
    font-weight: bold;
  }
  .car_details_item {
    width: 35%;
    padding: 5px 0;
    border-bottom: 0.5px solid #dbc4c4
  }

  .transmission_details {
    width: 100%;
    margin: 0 25px;
  }
  .location_info {
    margin: 5px 25px;
  }

  .car_details_mobile_buttons {
    margin: 20px;
  }
  .car_detail_desc {
    font-size: 15px;
    font-weight: 700;
  }
  .car_detail_desc_val {
    margin: 10px auto;
    font-size: 20px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 320px) {
  .test_drive_validate_container {
    width: 300px;
  }
}
/* @media only screen and (max-width: 767px) {
} */
/* @media only screen and (max-width: 576px) {
} */
