.header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid rgb(26, 23, 23);
}

.header_buy_car {
    display: flex;
}
.header_SignIn_bar {
    display: flex;
    flex-direction: column;
}
.header_search_bar {
    /* flex-basis: 200px; */
    width: 25%;
}
.search_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search_text {
    width: 100%;
}

.Header_options {
    list-style-type: none;
    color: black;
    text-decoration: none;
}
.header_account {
    display: flex;
    align-items: center;
}

.search_icon {
position: relative;
right: 35px;
}

.search_bar {
    width: 100%;;
}

.about_expanded_section {
    padding-left: 25px;
    align-items: flex-start;
    width: 18%;
    position: absolute;
    right: 20rem;
    top: 4rem;
    z-index: 2;
    background-color: white;
    border-radius: 20px;
}

.options {
    margin: 13px 10px;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.more_items {
width: 100%;
display: flex;
align-items: center;
}

.more_items:hover {
     background-color:  hsla(0,0%,67.5%,.2);
}

.buying_process_container {
    right: 2rem;
    top: 5rem;
    border-radius: 5px;
}

.login_container {
    position: absolute;
    width: 50%;
    height: 400px;
    background-color: white;
    margin: 25px 20%;
    z-index: 2;
}

.close_icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: slateblue;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  cursor: pointer;
}
.hidden_div {
 position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}
.login_text_field {
    width: 60%;
}

.content_pos {
    margin: 10px auto;
}

.btn {
border: none;
background-color: white;
font-size: 14px;
font-weight: bold;
}

.login_proceed_btn {
    background-color: red;
    width: 60%;
    padding: 10px;
    font-weight: 400;
    font-size: large;
    color: white;
}
 
.mobile_error {
    border: red;
}