.bodytype_images_container {
    margin: 10px auto 35px auto;
    width: 95%;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.bodytype_image {
    width: 27.5vw;
   max-width: 25rem;
   border-radius: 30px;
   margin: 0px 15px;
}

.bodyType_Item {
    color: black;
    left:36%;
    text-decoration: none;
    position: absolute;
    bottom: -40px;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}

/* 
@media screen and (min-width: 320px) and (max-width: 361px) {
    .bodytype_images_container {
        flex-wrap: wrap;
    }
  } */

