.bodytype_images_container {
    margin: 10px 30px;
}

.bodytype_image {
    width: 200px;
    margin: 20px 30px;
    height: 150px;
    border-radius: 30px;
}

/* 
@media screen and (min-width: 320px) and (max-width: 361px) {
    .bodytype_images_container {
        flex-wrap: wrap;
    }
  } */

