.carousel .thumb.selected, .carousel .thumb:hover {
  border: 1px solid #333 !important;
}

.carousel .control-dots, .carousel .carousel-status{
  display:none;
}
.carousel .thumbs-wrapper{
  margin-top: 0px !important;
}
.carousel .slide{
  height: auto !important;
}
 .carView{
  width: 95% !important;
}
@media only screen and (max-width:424px){

}